* {
    font-family: 'Roboto', sans-serif;
}
.mainNav {
    font-size: 3rem;
    font-weight: 900;
}
.download-btn {
    color: #000;
    background: #00c9b7;
    border: none;
    box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
}
.thumb {
    display:table-cell; 
    vertical-align:middle; 
    text-align:center;

}
.thumb img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.cta-content h3 {
    color: #fff;
    font-weight: 500px;
    /* line-height: 50px; */
}

/* xs */
.navbar-brand img {
    width: 45px;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    .navbar-brand img {
        width: 61px;
        height: 60px;
    }
}
/* md */
@media (min-width: 992px) {
    .navbar-brand img {
        width: 61px;
        height: 60px;
    }
}
/* lg */
@media (min-width: 1200px) {
    .navbar-brand img {
        width: 61px;
        height: 60px;
    }
}

.reduce {
    margin-top : -80px;
}
.features {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.feature-item {
    color: #fff;
}
.text-muted {
    color: #fff !important;
}
.section-heading h2 {
      color: #fff;
}
